.section {
    background-color: var(--background-default);
    min-height: 100vh;
    padding: 6rem 0;
}

.header {
    text-align: center;
   
}

.title {

    color: var(--color-primary) !important;
    

}

.highlight {
    font-style: italic;
}

.subtitle {
    color: var(--color-text);
    text-align: center;
    max-width: 60rem;
    margin: auto !important;

    
}

.contain {
    margin-top: 2rem;
    
}

.mainContent {

    padding-bottom: 8rem;
}

@media (max-width:900px) {

    .subtitle {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

