/* app/(auth)/register/Register.module.css */

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #f9dbbd;
    padding: 4rem;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 2.5rem;
    margin-top: 3rem;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
   
}

.title {
    font-family: 'Lora', serif;
    color: #6d1e3a;
    text-align: center;

    
}

.subtitle {
    color: #120104;
    text-align: center;
   
    padding-bottom: 2.5rem;
  
   
    
}

.error {
    background-color: #ffebee;
    color: #B00020;
    padding: 0.75rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;

}

.message {
    text-align: center;
    color: #014421;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-bottom: 1.5rem;

}

.label {
    display: block;
    color: #120104;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #d0c8b9;
    border-radius: 8px;
    font-size: 1.4rem;
    background-color: #faf8f5;
    transition: border-color 0.2s;
}

.input:focus {
    outline: none;
    border-color: #6D1E3A;
}
.helperText{
    color: var(--color-accent);
}

.button {
    background-color: #6D1E3A;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 1.5rem;
    padding: 0.75rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}



.button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.loginLink {
    text-align: center;
    margin-top: 1.5rem;
    color: #120104
}

.loginLink a {
    color: #6D1E3A;
    text-decoration: none;
    font-weight: 500;
}

@media(max-width:900px){
    .subtitle{
        font-size: 1.4rem;
    }
}

@media(min-width:901px){

    .button:hover:not(:disabled) {
    background-color: #5a0f03;
}

.loginLink a:hover {
    text-decoration: underline;
}
}