

.cardContainer{
    width: 15rem;
    height: 15rem;
    background-color: #6D1E3A;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.icon{
    margin-left: 4.6rem;
}

.title{
    color: white;
    font-size: 1.8rem;
}